<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"/>
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<link href="/static/mujstyl.css" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
<title>Jezdec</title>

<body>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center d-flex m-3">
        <div class="com-sm-0 col-lg-2"></div>
        <div class="col-sm-12 col-lg-8 align-items-center">
            <h1>Jezdec</h1>
        </div>
        <div class="col-sm-12 col-lg-2 text-center">
            <a class="btn btn-danger" href="/odhlaseni" role="button">Odhlásit se</a>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center">
    <h2>Pozvánky</h2>
</div>
<div class="text-center mt-2">
    <ul class="list-group list-group-flush">
        {% for pozvanka in jezdec.pozvanky %}
        <li class="list-group-item">
            Pozvánka od: {{ pozvanka.od_koho }} <a
                href="/potvrdit-pozvanku/{{ jezdec.nick }}/{{ pozvanka.id }}">Přijmout</a> | <a
                href="/odmitnout-pozvanku/{{ jezdec.nick }}/{{ pozvanka.id }}">Odmítnout</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
<div class="d-flex align-items-center justify-content-center">
    <h2>Seznam jezdců</h2>
</div>

<form action="/jezdec" class="m-3 text-center" id="filtr-form" method="GET">
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-md-3 col-lg-2">
                <label for="fjmeno">Jméno</label>
                <input class="form-control" id="fjmeno" name="jmeno" placeholder="Jméno" type="text"
                       value="{{ session.get('filtr_jmeno', '') }}">
            </div>
            <div class="form-group col-md-3 col-lg-2">
                <label for="fprijmeni">Příjmení</label>
                <input class="form-control" id="fprijmeni" name="prijmeni" placeholder="Příjmení" type="text"
                       value="{{ session.get('filtr_prijmeni', '') }}">
            </div>

            <div class="col-md-3 col-lg-2 align-self-center">
                <label for="filterTrida">Třída</label>
                <select class="form-select" id="filterTrida" name="trida">
                    <option selected>---</option>
                    {% for trida in tridy %}
                    <option if or session.get( trida== trida== value="{{ trida }}" vybrana_trida {%
                    'filtr_trida', '') %}selected{% endif %}>{{ trida }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 col-lg-2 align-self-center">
                <button class="btn btn-primary w-100 mt-4" style="height: 38px" type="submit">Filtrovat</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center mt-2">
    <ul class="list-group list-group-flush">
        {% for jezdec in jezdci %}
        <li class="list-group-item">
            {{jezdec.jmeno }} ({{ jezdec.prijmeni }}, {{ jezdec.trida }})
        </li>
        {% endfor %}
    </ul>
</div>

<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
