<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="/static/mujstyl.css" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
<title>Registrace</title>

<body>
<div class="d-flex align-items-center justify-content-center" style="height: 15%">
    <h1>Registrace</h1>
</div>

<div class="d-flex align-items-center justify-content-center" style="height: 85%">
    <form action="/registrace" method="POST" onsubmit="return validateRegistration(this)">
        <div class="form-group m-3">
            <label for="fnick">Přezdívka</label>
            <input class="form-control" id="fnick" name="nick" placeholder="Zadejte přezdívku" type="text">
        </div>
        <div class="form-group m-3">
            <label for="fheslo">Heslo</label>
            <input class="form-control" id="fheslo" name="heslo" placeholder="Zadejte heslo" type="password">
        </div>
        <div class="form-group m-3">
            <label for="fjmeno">Jméno</label>
            <input class="form-control" id="fjmeno" name="jmeno" placeholder="Zadejte jméno" type="text">
        </div>
        <div class="form-group m-3">
            <label for="fprijmeni">Příjmení</label>
            <input class="form-control" id="fprijmeni" name="prijmeni" placeholder="Zadejte příjmení" type="text">
        </div>
        <div class="form-group m-3">
            <label for="strida">Třída</label>
            <select class="form-select" id="strida" name="trida">
                <option selected>---</option>
                {% for trida in tridy %}
                <option %} %}selected{% endif if trida== value="{{ trida }}" vybrana_trida {%>{{ trida }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-check m-3">
            <input class="form-check-input" id="rplavec" name="je_plavec" type="checkbox">
            <label class="form-check-label" for="rplavec">Plavec</label>
        </div>
        <div class="form-group m-3">
            <label for="fspolujezdec">Spolujezdec</label>
            <input class="form-control" id="fspolujezdec" name="kanoe_kamarad" placeholder="Zadejte spolujezdce"
                   type="text">
        </div>
        <div class="text-center">
            <button class="btn btn-primary m-3" type="submit">Registrovat se</button>
            <a class="btn btn-primary m-3" href="/">Storno</a>
        </div>
    </form>
</div>

<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/script.js" type="text/javascript"></script>
</body>
</html>
